* {
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    font-family: "微软雅黑 Light";
}


img {
    width: 30px;
    height: 30px;
}

#topbar {
	width: 100%;
	height: 50px;
    text-align: center;
	background-image: -webkit-linear-gradient(90deg, #53e3a6, #53e3a2);
	background-image: linear-gradient(90deg, #53e3a6, #53e3a2);
	box-shadow: 1px 1px 5px 1px #0a6a41;
	position: fixed;
	left: 0px;
	top: 0px;
}

#topbararea {
	max-width: 960px;
	height: 50px;
	position: relative;
	margin: auto;
	display: block;
	top: 0px;
	/*background-color: #245eb2;*/
}

#toplogo {
	position: relative;
	color: white;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 2.2em;
	float: left;
}

#righttopbar{
	position: relative;
	line-height: 50px;
	/*text-align: center;*/
	display: block;
	/*margin-left: 570px;*/
	float: right;
	font-size: 1.5em;
	font-weight: bold;
	color: white;
}



#ques {
	width: 120px;
	height: 50px;
	position: relative;
	display: block;
	float: right;
	margin-right: 30px;
	/*margin-top: 2px;*/
}
#ques img {
	position: relative;
	width: 30px;
	height: 30px;
	padding: 10px;
	float: left;
}
#ques a{
	position: relative;
	margin-right: 10px;
}
#use {
	width: 120px;
	height: 50px;
	position: relative;
	display: block;
	float: right;
	/*margin-top: 2px;*/
}
#use a{
	position: relative;
	margin-right: 10px;
}
#use img {
	width: 30px;
	height: 30px;
	padding: 10px;
	float: left;
}

#ques:hover {
	background-color: #31ce79;
	cursor: pointer;
}
#ques:active {
	background-color: #47ce6b;
	border-top-style: none;
	box-shadow: inset 0px 0px 1px 2px lightgray;
}
#use:hover {
	background-color: #31ce79;
	cursor: pointer;
}



#downBar {
	width: 120px;
	height: 100px;
	font-size: 0.7em;
	margin-top: 0px;
	margin-left: -40px;
}
#downBar li:hover{
    background-color: #53e3a6;
}

#myHome {
	width: 120px;
	height: 50px;
	background-color: #31ce79;
	text-align: center;
	border-top: solid 2px;
	border-bottom: solid 1px;
}
#myHome img {
	vertical-align: middle;
}
#myHome a{
	margin-left: -8px;
}
#myHome:hover{
	cursor: pointer;
}
#out {
	width: 120px;
	height: 50px;
	background-color: #31ce79;
	border-top: solid 1px;
	border-bottom: solid 1px;
}
#out img {
	vertical-align: middle;
}
#out a{
	float: left;
	margin-left: -8px;
}
#out:hover{
	cursor: pointer;
}


#questiontxt {
	margin-right: 97px;
}
#questiontxt:visited {
    color: white;
    text-decoration: none;
}
#questiontxt:link{
    color: white;
    text-decoration: none;
}
#usertxt {
	margin-right: 11px;
}



.page_content{
    width: 960px;
    margin: 0 auto;
    margin-top: 150px;
}
#left_side{
    width: 72.5%;
    clear: left;
}
#left_side_description{
    float: left;
     width: 67%;
 }
#list_img{
    width: 38px;
    hight: 38px;
    float: left;
}
#question_list{
    margin-top: 3px;
    margin-left: 3px;
    float: left;
    font-family:"微软雅黑 Light";
}
hr{
    clear: left;
    margin-bottom: 10px;;
    width: 100%;
}
.health_img{
    width: 40px;
    height: 40px;
    float: left;
    margin-bottom: 3px;
}

.question{
    float: left;
    font-size: 30px;
    margin-left: 3px;
    color: #53e3a6;
    text-decoration: none;
}
.question_title{
    font-size: 30px;
    color: #53e3a6;
}
.question:hover{
    text-decoration:underline;
}
.agree_background{
    color:#53e3a6;
    width: 35px;
    height: 20px;
    background-color:#e0f1ea;
    clear: left;
    text-align: center;
    margin-left: 3px;
}
.author{
    position: relative;
    top:-20px;
    left: 45px;
    font-weight: 600;
    text-decoration: none;
}
.author:hover{
    text-decoration:underline;
}
.answer{
    float: left;
    margin-left: 42px;
    margin-top: 0px;
    text-align:justify;            /* Mozilla Firefox等使用的两端对齐的方式 */
    text-justify: inter-ideograph;  /* IE使用的两端对齐的方式 */
}

.question_description{
    text-align:justify;            /* Mozilla Firefox等使用的两端对齐的方式 */
    text-justify:inter-ideograph;
    margin-top: 10px;
}

#answer_img{
    width: 30px;
    height: 30px;
    float: left;
}
#answer_href{
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #0c1a14;
    text-decoration: none;
    float: left;
}
#answer_href:hover{
    text-decoration:underline;
}
#answer_number{
    font-size: 18px;
    font-weight: 550;
}
#after_answer_number{
    font-size: 18px;
    font-weight: 550;
}
#sort_img{
    margin-top: -5px;
    padding: 0;
    width: 30px;
    height: 35px;
    float: right;
}
.answer_author{
    font-size: 18px;
    color: #0c1a14;
    text-decoration: none;
    float: left;
}
.answer_author:hover{
    text-decoration:underline;
}
.author_description{
    float: left;
    margin-left: 3px;
    margin-top: 2px;
    color: #7f918a;
}
.answerindescription{
    float: left;
    text-align:justify;            /* Mozilla Firefox等使用的两端对齐的方式 */
    text-justify:inter-ideograph;
    position: relative;
}
#agree_side{
    width: 5%;
    float: left;
    margin-top: 200px;
}
#agree_img{
    width: 40px;
    height: 40px;
    display: block;
}
#disagree_img{
    width: 40px;
    height: 40px;
}
.agree_background_in_description{
    color:#53e3a6;
    width: 80%;
    background-color: #e0f1ea;
    text-align: center;
    margin: 3px;
    border-radius: 5px;

}
