* {
    padding: 0;
    margin: 0;
}

/*showcase*/
.showcase {
    padding: 50px 0;
    width: 100%;
    background: url("../img/card.png") center;
    background-size: cover;
}
.showcase h2 {
    color: #f68383;
    font-size: 40px;
}
.showcase-head hr {
    height: 2px;
    background-color: #f68383;
    border: 0px;
}
.showcase img {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
}
.photos {
    margin: 0 0 50px 0;
}
.photo-wrapper {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 208px;
    height: 208px;
    margin: 40px;
    text-align: center;
    overflow: hidden;
    border: solid 1px #fff;
}
.photo-theme {
    position: relative;
    opacity: 0.6;
    width: 208px;
    height: 104px;
    text-align: center;
    margin-left: -1px;
    overflow: hidden;
    top: 80%;
    background-color: #000000;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}
.photo-theme p {
    color: #e6e6e6;
    margin-right: 10px;
    margin-left: 10px;
    opacity: 1;
}
.photo-theme h3 {
    color: #fefefe;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    opacity: 1;
}
.photo-wrapper:hover .photo-theme {
    top: 50%;
}
.photo-wrapper img {
    margin-top: -104px;
}

/*department*/
.depart {
    background-color: #f68383;
    color: white;
}
.depart-head p {
    font-size: 24px;
    margin-bottom: 40px;
}
.leader {
    display: inline-block;
    margin: 50px;
}
.leader h4 {
    margin-bottom: 20px;
}

/*join us*/
.join {
    width: 100%;
    background: url("../img/card.png") center;
    background-size: cover;
}
.join-head {
    margin-top: 150px;
}
.join-head h2 {
    color: #f68383;
    font-size: 40px;
}
.join-head hr {
    height: 2px;
    border: 0px;
    background-color: #f68383;
}
.join-head p {
    font-size: 20px;
}
.join-left, .join-right {
    float: left;
    margin-top: 50px;
    width: 45%;
}
.join-left {
    padding-right: 10%;
}
.fill-info label {
    display: block;
    padding-bottom: 5px;
    text-align: left;
}
.fill-info input[type=text], .fill-info select, .fill-info textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-color: #f68383;
    border-bottom-width: 1px;
    -webkit-border-radius: 5px; /* Safari 和 Chrome */
    -moz-border-radius: 5px; /* Firefox */
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.fill-info select {
    height: 40px;
    width: 100%;
}
.fill-info textarea {
    height: 180px;
}
.submit-btn {
    width: 120px;
    height: 50px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    z-index: 3;
    float: right;
    background-color: #f68383;
    -webkit-border-radius: 10px; /* Safari 和 Chrome */
    -moz-border-radius: 10px; /* Firefox */
    border-radius: 10px;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}


/*other*/
.page-border {
    margin-top: -30px;
    height: 80px;
    background: url("../img/pageBorder.png");
}